<section id="about">
   <ol class="my-breadcrumb d-flex align-items-center justify-content-center">
        <li class="my-breadcrumb-item">
            <a href="#">Home</a>
            <i class="fa fa-angle-double-right my-breadcrumb-arrow" aria-hidden="true"></i>
        </li>
        
        <li class="my-breadcrumb-item active">
            About
            <i class="fa fa-angle-double-right my-breadcrumb-arrow" aria-hidden="true"></i>
        </li>
    </ol>

    <div class="about-img">
        <img src="../images/about-main-img.jpg" class="img-fluid">
    </div>

    <div class="about-container">
        <div class="d-flex align-items-center justify-content-center title-container">
            <img src="../images/left-separator.png" class="img-fluid">
            <h1 class="about-title">About</h1>
            <img src="../images/right-separator.png" class="img-fluid">
        </div>

        <div class="container">
            <div class="row">
                <img class="col-sm-6 about-sub-img img-fluid" src="../images/about-watch-img.jpg" alt="">
                <div class="col-sm-6 content">
                    <h4>Keep an online travel diary with stories and photos</h4>

                    <div>
                        <p>
                            Travel Diary is a free web application that allows you to capture your travels in a digital diary. Add stories, photos and maps in an online editor. It is designed in a way that it looks like you're working in a real book. Customize your diary to your own taste with different layouts and style options!
                        </p>

                        <p>Add stories to your diary with the online editor. Give each chapter a title and optionally enter a date and a location.</p>

                        <p>A travel journal is not complete without photos and maps! Click on a gray area and add an image, picture or map.</p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>