<section id="about">
   <ol class="my-breadcrumb d-flex align-items-center justify-content-center">
        <li class="my-breadcrumb-item">
            <a href="#">Home</a>
            <i class="fa fa-angle-double-right my-breadcrumb-arrow" aria-hidden="true"></i>
        </li>
        
        <li class="my-breadcrumb-item active">
            About
            <i class="fa fa-angle-double-right my-breadcrumb-arrow" aria-hidden="true"></i>
        </li>
    </ol>

    <div class="about-img">
        <img src="../images/about-main-img.jpg" class="img-fluid">
    </div>

    <div class="about-container">
        <div class="d-flex align-items-center justify-content-center title-container">
            <img src="../images/left-separator.png" class="img-fluid">
            <h1 class="about-title">About</h1>
            <img src="../images/right-separator.png" class="img-fluid">
        </div>

        <div class="container">
            <div class="row">
                <img class="col-sm-6 about-sub-img img-fluid" src="../images/about-watch-img.jpg" alt="">
                <div class="col-sm-6">
                    Some text here
                </div>
            </div>
           
        </div>
    </div>
</section>