<section id="add-diary">
   <ol class="my-breadcrumb d-flex">
        <li class="my-breadcrumb-item">
            <a href="#">Home</a>
            <i class="fa fa-angle-double-right my-breadcrumb-arrow" aria-hidden="true"></i>
        </li>
        
        <li class="my-breadcrumb-item active">
            Add diary
            <i class="fa fa-angle-double-right my-breadcrumb-arrow" aria-hidden="true"></i>
        </li>
    </ol>

    <h1 class="add-title d-flex align-items-center justify-content-center">Add your trip diary</h1>

    <form class="form-horizontal">
        <fieldset>
          <div class="container">
            <div class="row">
                <div class="col-lg-6">
                     <div class="form-group">
                        <label for="title" class="control-label add-label">Title <strong class="asterisk">*</strong></label>
                        <div class="col-lg-12 add-diary-input">
                          <input type="text" class="form-add-diary form-control float-left" id="tb-title" placeholder="&#xf1dc;" style="font-family:Arial, FontAwesome" />
                        </div>
                    </div>

                     <div class="form-group">
                        <label for="category" class="control-label add-label category">Category <strong class="asterisk">*</strong></label>
                        <div class="col-lg-12 add-diary-input">
                          <select name="category" class="col-lg-12 form-add-diary form-control" id="tb-category">
                            <option selected disabled hidden style='display: none' value=''></option>
                            <option class="selected-option" value="Mountains life">Mountains life</option>
                            <option class="selected-option" value="Water world">Water world</option>
                            <option class="selected-option" value="History taste">History taste</option>
                            <option class="selected-option" value="Country life">Country life</option>
                            <option class="selected-option" value="Islands beuty">Islands beuty</option>
                          </select>
                        </div>
                    </div>
                </div>
          
                <div class="col-lg-6">
                    <div class="form-group">
                      <label for="place" class="control-label add-label">Place <strong class="asterisk">*</strong></label>
                      <div class="col-lg-12 add-diary-input">
                        <input type="text" class="form-add-diary form-control" id="tb-place" placeholder="&#xf0ac;" style="font-family:Arial, FontAwesome" />
                      </div>
                    </div>

                     <div class="form-group">
                        <label for="mainImage" class="control-label add-label">Main Image Url <strong class="asterisk">*</strong></label>
                        <div class="col-lg-12 add-diary-input">
                          <input type="text" class="form-add-diary form-control" id="tb-mainImage"/>
                        </div>
                     </div>
                </div>

                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="images" class="control-label add-label">Images Urls (separated by comma) <strong class="asterisk">*</strong></label>
                        <div class="col-lg-12 add-diary-input">
                          <input type="text" class="form-add-diary form-control" id="tb-images"  placeholder="&#xf1c5;" style="font-family:Arial, FontAwesome"/>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <label for="content" class="control-label add-label">Content <strong class="asterisk">*</strong></label>
                    <div class="col-lg-12 add-diary-input">
                        <textarea name="diary-content" class="form-add-diary form-control" id="tb-content" cols="30" rows="10">
                          
                        </textarea>
                    </div>
                </div>

                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <button id="btn-add-diary" class="form-add-diary btn">Add</button>
                  </div>
                </div>
            </div>
          </div>
      </fieldset>
  </form>
</section>
