<section id="contacts">
   <ol class="my-breadcrumb d-flex">
        <li class="my-breadcrumb-item">
            <a href="#">Home</a>
            <i class="fa fa-angle-double-right my-breadcrumb-arrow" aria-hidden="true"></i>
        </li>
        
        <li class="my-breadcrumb-item active">
            Contacts
            <i class="fa fa-angle-double-right my-breadcrumb-arrow" aria-hidden="true"></i>
        </li>
    </ol>

     <div class="contacts-img">
        <img src="../images/contacts-main-img.jpg" class="img-fluid">
    </div>
    
    <div class="contacts-container">
         <div class="d-flex align-items-center justify-content-center title-container">
            <img src="../images/left-separator.png" class="img-fluid">
            <h1 class="contacts-title">Contacts</h1>
            <img src="../images/right-separator.png" class="img-fluid">
        </div>

    <div class="img-fluid justify-content-center contacts-map">
        <iframe width="100%" height="370" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ23lQII6GqkAR3qrqjRHUwMg&key=AIzaSyBhZ6ck8uOdRH7LDlCN43zTSYC8AB8jhsw" allowfullscreen></iframe>
    </div>

    <div class="contacts-details">
        <p class="d-flex align-items-center justify-content-center"><strong class="detailes">Adress:</strong> Bulgaria, Sofia, Bul. "Aleksandar Malinov" 30</p>
        <p class="d-flex align-items-center justify-content-center"><strong class="detailes">Phone:</strong> +359 88866333</p>
        <p class="d-flex align-items-center justify-content-center"><strong class="detailes">Email:</strong> javascript@gmail.com</p>
    </div>
    </div>
</section>