{{#each this}}
    <div>
        <p><a href="#/trip-diaries/category/{{this.category}}" data-category="{{this.category}}">{{this.category}}</a></p>
        <p>{{this.tripsGrouped.length}}</p>
    </div>
{{/each}}