<section id="sign-up">
  <ol class="my-breadcrumb d-flex">
        <li class="my-breadcrumb-item">
            <a href="#">Home</a>
            <i class="fa fa-angle-double-right my-breadcrumb-arrow" aria-hidden="true"></i>
        </li>
        
        <li class="my-breadcrumb-item active">
            Sign-up
            <i class="fa fa-angle-double-right my-breadcrumb-arrow" aria-hidden="true"></i>
        </li>
    </ol>

    <form class="form-horizontal sign-up-form">
        <fieldset>
          <div class="container">
            <div  class="row">
              <div class="col-lg-6">
                   <div class="form-group">
                      <label for="email" class="control-label sign-up-label">Email <strong class="asterisk">*</strong></label>
                      <div class="col-lg-12 sign-up-input">
                        <input type="email" class="form-register form-control form-sign-up" id="tb-email" placeholder="&#xf1fa;" style="font-family:Arial, FontAwesome"/>
                      </div>
                  </div>

                   <div class="form-group">
                      <label for="inputFirstName" class="control-label sign-up-label">First Name <strong class="asterisk">*</strong></label>
                      <div class="col-lg-12 sign-up-input">
                        <input type="text" class="form-register form-control form-sign-up" id="tb-firstName" placeholder="&#xf2bc;" style="font-family:Arial, FontAwesome"/>
                      </div>
                  </div>

                  <div class="form-group">
                    <label for="inputPassword" class="control-label sign-up-label">Password <strong class="asterisk">*</strong></label>
                    <div class="col-lg-12 sign-up-input">
                      <input type="password" class="form-register form-control form-sign-up" id="tb-newPassword" placeholder="&#xf023;" style="font-family:Arial, FontAwesome"/>
                    </div>
                  </div>

                  <div class="form-group">
                        <label for="inputFacebookContact" class="control-label sign-up-label">Facebook URL</label>
                        <div class="col-lg-12 sign-up-input">
                          <input class="form-register form-control form-sign-up" id="tb-facebookContact" placeholder="&#xf09a;" style="font-family:Arial, FontAwesome"/>
                        </div>
                    </div>

                  <div class="form-group">
                      <label for="inputTwitterContactContact" class="control-label sign-up-label">Twitter URL</label>
                      <div class="col-lg-12 sign-up-input">
                        <input class="form-register form-control form-sign-up" id="tb-twitterContact" placeholder="&#xf099;" style="font-family:Arial, FontAwesome"/>
                      </div>
                  </div>

                    <div class="form-group">
                      <label for="inputInstagramContact" class="control-label sign-up-label">Instagram URL</label>
                      <div class="col-lg-12 sign-up-input">
                        <input class="form-register form-control form-sign-up" id="tb-instagramContact" placeholder="&#xf16d;" style="font-family:Arial, FontAwesome"/>
                      </div>
                  </div>
              </div>

              <div class="col-lg-6">
                  <div class="form-group">
                      <label for="inputProfileImagURL" class="control-label sign-up-label">Profile image URL <strong class="asterisk">*</strong></label>
                      <div class="col-lg-12 sign-up-input">
                        <input type="text" class="form-register form-control form-sign-up" id="tb-profileImgURL" placeholder="&#xf03e;" style="font-family:Arial, FontAwesome"/>
                      </div>
                  </div>

                   <div class="form-group">
                      <label for="inputLastName" class="control-label sign-up-label">Last Name  <strong class="asterisk">*</strong></label>
                      <div class="col-lg-12 sign-up-input">
                        <input type="text" class="form-register form-control form-sign-up" id="tb-lastName" placeholder="&#xf2bc;" style="font-family:Arial, FontAwesome"/>
                      </div>
                  </div>

                   <div class="form-group">
                      <label for="inputUserInfo" class="control-label sign-up-label">About me  <strong class="asterisk">*</strong></label>
                      <div class="col-lg-12 sign-up-input">
                        <input type="text" class="form-register form-control form-sign-up" id="tb-userInfo" placeholder="&#xf129;" style="font-family:Arial, FontAwesome"/>
                      </div>
                  </div>

                   <div class="form-group">
                      <label for="inputYouTubeContact" class="control-label sign-up-label">youTube URL</label>
                      <div class="col-lg-12 sign-up-input">
                        <input class="form-register form-control form-sign-up" id="tb-youTubeContact" placeholder="&#xf167;" style="font-family:Arial, FontAwesome"/>
                      </div>
                  </div>
                  
                   <div class="form-group">
                      <label for="inputGooglePlusContactContact" class="control-label sign-up-label">Goog++ URL</label>
                      <div class="col-lg-12 sign-up-input">
                        <input class="form-register form-control form-sign-up" id="tb-googlePlusContact" placeholder="&#xf0d5;" style="font-family:Arial, FontAwesome"/>
                      </div>
                  </div>

                  <div class="form-group">
                      <label for="inputRSSContact" class="control-label sign-up-label">RSS URL</label>
                      <div class="col-lg-12 sign-up-input">
                        <input class="form-register form-control form-sign-up" id="tb-rssContact" placeholder="&#xf09e;" style="font-family:Arial, FontAwesome"/>
                      </div>
                  </div>
              </div>

              <div class="form-group">
                <div class="col-lg-12 col-lg-offset-2">
                  <button id="btn-register" class="form-register btn">Sign up</button>
                </div>
              </div>
            </div>
          </div>   
      </fieldset>
  </form>
</section>

