.clear-spacing, body,
ul,
li,
a,
p,
div,
section, .logo-container, .logo-container .social-links a, .carousel-container .slide-data .text-right,
.carousel-container .slide-data .text-left, footer, #trip-diaries-list, #trip-diaries-list .diaries, #trip-diaries-list .diaries .diaries-container .diary-img, #trip-diaries-list .diaries .diaries-container .diary-img .diary-img-container, #about .about-img, #about .about-container, #contacts .contacts-img, #contacts .contacts-container, #add-diary, #sign-in .sign-in-form, #sign-up .sign-up-form, #trip-details .date-container, #trip-details .other-diaries-container {
  margin: 0;
  padding: 0; }

.placeholders {
  color: #bdbdbd;
  padding-left: 92%; }

body {
  font-size: 16px;
  font-family: "Playfair Display", sans-serif; }

input:focus {
  outline: none; }

.logo-container {
  height: 120px; }
  .logo-container .social-links {
    margin: 0;
    padding-left: 5%; }
  .logo-container .social-links a {
    color: black;
    padding-right: 5%; }
  .logo-container .social-links a i:hover {
    color: #cca335; }
  .logo-container .logo {
    height: 80px; }

.navigation {
  height: 100%;
  min-height: 50px;
  background: black;
  font-family: "Poppins", sans-serif; }
  .navigation .menu-icon {
    font-size: 1.5rem;
    color: white; }
  .navigation .menu:focus,
  .navigation .menu:hover {
    border: 1px solid #cca335;
    outline: 0; }
  .navigation .diary-nav .nav-list a:focus {
    color: white; }
  .navigation .diary-nav .nav-list a {
    color: white;
    margin: 15px;
    padding: 0;
    text-transform: uppercase;
    font-size: 0.875rem; }
  .navigation .diary-nav .nav-list a:hover {
    color: white;
    border-bottom: 4px solid #cca335;
    margin-bottom: 11px; }

.hidden {
  display: none; }

.carousel-container .slide-count {
  font-style: italic;
  font-weight: bold;
  padding-left: 8%; }
  .carousel-container .slide-count .current {
    font-size: 3.125rem; }
  .carousel-container .slide-count .line {
    font-size: 3.125rem;
    margin-top: -46px;
    margin-left: 15px; }
  .carousel-container .slide-count .total {
    font-size: 1.5rem;
    margin-top: -40px;
    margin-left: 34px; }

.carousel-container .slide-data {
  bottom: 20px; }
  .carousel-container .slide-data .slide-title {
    font-size: 2.25rem;
    font-style: italic;
    font-weight: bold; }
    .carousel-container .slide-data .slide-title a {
      color: white; }
    .carousel-container .slide-data .slide-title a:hover {
      text-decoration: none;
      color: #cca335; }
  .carousel-container .slide-data .slide-info-up {
    color: #838383;
    font-size: 0.75rem;
    font-family: "Poppins", sans-serif;
    padding-top: 20px; }
  .carousel-container .slide-data .slide-info-down {
    font-size: 0.75rem;
    font-family: "Poppins", sans-serif;
    padding-top: 20px;
    padding-bottom: 15px; }
  .carousel-container .slide-data .left {
    padding-right: 20px; }
  .carousel-container .slide-data .left-border {
    border-right: 1px solid #838383; }
  .carousel-container .slide-data .right {
    padding-left: 20px; }
  .carousel-container .slide-data .icon-spacing-right {
    padding-right: 5px; }
  .carousel-container .slide-data .icon-spacing-left {
    padding-left: 5px; }
  .carousel-container .slide-data .icon-color {
    color: #cca335; }
  .carousel-container .slide-data .like,
  .carousel-container .slide-data .dislike,
  .carousel-container .slide-data .author,
  .carousel-container .slide-data .comment {
    font-size: 0.875rem; }
  .carousel-container .slide-data .dot {
    font-size: 0.5rem; }

.carousel-container .carousel-image {
  height: 600px;
  width: 100%; }

.carousel-container .carousel-data {
  margin-left: -100%;
  width: 100%;
  height: 600px;
  padding-top: 400px;
  color: white;
  background: -moz-linear-gradient(top, rgba(5, 5, 5, 0) 0%, rgba(5, 5, 5, 0.02) 2%, #050505 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(5, 5, 5, 0) 0%, rgba(5, 5, 5, 0.02) 2%, #050505 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(5, 5, 5, 0) 0%, rgba(5, 5, 5, 0.02) 2%, #050505 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

.prev-carousel {
  width: 20px;
  margin-left: 88%;
  margin-top: 350px; }

.next-carousel {
  width: 20px;
  margin-right: 5%;
  margin-top: 350px; }

#most-recent {
  margin-top: 10%;
  margin-bottom: 15%; }
  #most-recent .recent-header {
    margin-bottom: 7%; }
  #most-recent .img-separator-left {
    margin-right: 5%; }
  #most-recent .img-separator-right {
    margin-left: 5%; }
  #most-recent .recent-img {
    padding-top: 5%;
    width: 385px;
    height: 275px; }
  #most-recent .recent-diaries-title {
    font-style: italic;
    font-size: 1.875rem; }
  #most-recent .recent-title {
    padding-top: 5%;
    font-style: italic;
    font-size: 1.875rem;
    padding-bottom: 10px; }
    #most-recent .recent-title a {
      color: black; }
    #most-recent .recent-title a:hover {
      color: #cca335;
      text-decoration: none; }
  #most-recent .recent-date {
    margin-bottom: 30px;
    color: #cca335; }
  #most-recent .recent-text {
    padding-bottom: 40px;
    text-align: justify; }
  #most-recent .recent-icons {
    padding-bottom: 15px;
    color: #838383;
    font-size: 0.75rem;
    font-family: "Poppins", sans-serif; }
    #most-recent .recent-icons i {
      margin-right: 2%; }
    #most-recent .recent-icons .dot {
      font-size: 0.5rem;
      color: #cca335;
      padding-left: 10px;
      padding-right: 5px; }

#categories {
  width: 21%;
  margin-top: 10%; }
  #categories .btn-search {
    margin: -5px;
    width: 80px;
    height: 60px;
    border: none;
    background: #cccccc;
    font-size: 0.875rem;
    padding: 15px; }
  #categories .input-search {
    background: #f5f5f5;
    border: none;
    height: 60px;
    width: 230px;
    font-size: 0.875rem;
    padding: 15px; }
  #categories .btn-search:focus,
  #categories .input-search:focus {
    outline: none; }
  #categories .categories-title {
    font-size: 1.5rem;
    font-style: italic;
    padding-top: 35%;
    padding-bottom: 3%; }
  #categories .categories-container {
    margin-top: 5%;
    padding-left: 5%; }
    #categories .categories-container .category-container {
      padding: 5%;
      font-family: "Poppins", sans-serif;
      font-size: 0.875rem;
      border-left: 1px solid #e9e9e9; }
      #categories .categories-container .category-container .category {
        color: black;
        font-weight: bold; }
      #categories .categories-container .category-container .category-count {
        color: #bdbdbd; }
    #categories .categories-container a {
      text-decoration: none; }
    #categories .categories-container a:hover .category-container {
      border-left: 1px solid black; }
    #categories .categories-container a:hover .category-container > .category {
      color: #cca335; }
    #categories .categories-container a:hover .category-container > .category-count {
      color: black; }
  #categories .fb-page {
    padding-top: 30%; }

footer {
  width: 100%;
  height: 100%;
  color: white;
  background: url("https://wallpaperscraft.com/image/glade_mountains_summer_green_landscape_day_53131_1920x1080.jpg");
  background-size: 100% 100%; }
  footer #footer-container {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); }
    footer #footer-container .footer-container-body {
      width: 70%; }
      footer #footer-container .footer-container-body .footer-padding {
        padding: 5%; }
  footer .footer-content {
    border-right: 1px solid #838383; }
    footer .footer-content hr {
      width: 5px;
      color: white; }
  footer .footer-container-socials {
    color: white;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-top: 1px solid #838383; }
    footer .footer-container-socials a {
      text-decoration: none;
      color: #838383;
      margin-right: 5%; }
    footer .footer-container-socials a:hover {
      color: white; }
  footer .footer-title {
    font-size: 1.5rem;
    font-style: italic;
    padding-bottom: 5px; }
  footer .footer-text {
    font-size: 0.875rem;
    text-align: justify;
    font-family: "Poppins", sans-serif; }

.my-breadcrumb {
  background-color: white;
  font-size: 0.875rem;
  font-family: "Poppins", sans-serif;
  color: black;
  margin-bottom: 0;
  padding-bottom: 35px; }
  .my-breadcrumb .my-breadcrumb-item {
    float: left;
    list-style: none;
    padding-right: 2%; }
    .my-breadcrumb .my-breadcrumb-item a {
      color: black;
      font-weight: bold; }
    .my-breadcrumb .my-breadcrumb-item a:hover {
      text-decoration: none; }
    .my-breadcrumb .my-breadcrumb-item .my-breadcrumb-arrow {
      color: #c6c6c6;
      margin-left: 20px; }
  .my-breadcrumb .my-breadcrumb-item.active {
    color: black;
    list-style: none; }

#trip-diaries-list {
  padding-top: 3%;
  padding-bottom: 10%; }
  #trip-diaries-list .title-container {
    padding-bottom: 2%; }
    #trip-diaries-list .title-container .diaries-title {
      font-size: 2.25rem;
      font-style: italic; }
    #trip-diaries-list .title-container .diaries-sub-title {
      font-style: italic;
      padding-bottom: 1%; }
  #trip-diaries-list .diaries {
    width: 75%;
    margin: auto; }
    #trip-diaries-list .diaries .diaries-list {
      padding-top: 5%;
      padding-bottom: 5%; }
    #trip-diaries-list .diaries .author-container .author-name {
      padding: 0;
      margin: 0;
      color: #cca335;
      padding-top: 85%;
      -ms-transform: rotate(-35deg);
      -webkit-transform: rotate(-35deg);
      transform: rotate(-35deg);
      font-family: "Mr De Haviland", cursive;
      font-size: 1.875rem; }
    #trip-diaries-list .diaries .author-container .user-info {
      clear: both;
      font-family: "Poppins", sans-serif;
      padding-top: 5%;
      padding-bottom: 5%;
      text-align: justify; }
    #trip-diaries-list .diaries .author-container .user-socials a {
      color: #838383; }
      #trip-diaries-list .diaries .author-container .user-socials a .user-socials-icons {
        padding-right: 15px; }
    #trip-diaries-list .diaries .author-container .user-socials a:hover {
      color: #cca335; }
    #trip-diaries-list .diaries .diaries-container .diary-img {
      width: 370px;
      height: 500px;
      background-size: 480px 500px;
      margin: auto; }
      #trip-diaries-list .diaries .diaries-container .diary-img .diary-img-container {
        height: 100%;
        background: -moz-linear-gradient(top, rgba(5, 5, 5, 0) 0%, rgba(5, 5, 5, 0.02) 2%, #050505 100%);
        background: -webkit-linear-gradient(top, rgba(5, 5, 5, 0) 0%, rgba(5, 5, 5, 0.02) 2%, #050505 100%);
        background: linear-gradient(to bottom, rgba(5, 5, 5, 0) 0%, rgba(5, 5, 5, 0.02) 2%, #050505 100%); }
      #trip-diaries-list .diaries .diaries-container .diary-img .diary-img-container-name {
        height: 85%; }
        #trip-diaries-list .diaries .diaries-container .diary-img .diary-img-container-name a {
          color: white;
          font-weight: bold;
          font-style: italic;
          font-size: 1.5rem;
          height: 100%; }
        #trip-diaries-list .diaries .diaries-container .diary-img .diary-img-container-name a:hover {
          text-decoration: none; }
      #trip-diaries-list .diaries .diaries-container .diary-img .diary-img-container-date {
        color: #cca335;
        font-size: 0.75rem; }
      #trip-diaries-list .diaries .diaries-container .diary-img .diary-img-container:hover {
        background: rgba(0, 0, 0, 0.7); }
        #trip-diaries-list .diaries .diaries-container .diary-img .diary-img-container:hover .diary-img-container-name {
          height: 50%; }
    #trip-diaries-list .diaries .diaries-container .diry-icons {
      padding-top: 5%;
      padding-bottom: 2%;
      width: 80%;
      margin: auto;
      font-family: "Poppins", sans-serif;
      font-size: 0.75rem;
      color: #bdbdbd;
      color: #838383; }
      #trip-diaries-list .diaries .diaries-container .diry-icons .diry-comments {
        padding-bottom: 4%; }
      #trip-diaries-list .diaries .diaries-container .diry-icons .clear {
        clear: both; }
      #trip-diaries-list .diaries .diaries-container .diry-icons .diry-like-icon,
      #trip-diaries-list .diaries .diaries-container .diry-icons .diry-comment-icon {
        margin-right: 5px; }
    #trip-diaries-list .diaries .hexagon {
      overflow: hidden;
      visibility: hidden;
      -webkit-transform: rotate(120deg);
      -moz-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
      -o-transform: rotate(120deg);
      transform: rotate(120deg);
      cursor: pointer; }
    #trip-diaries-list .diaries .hexagon-in1 {
      overflow: hidden;
      width: 100%;
      height: 100%;
      -webkit-transform: rotate(-60deg);
      -moz-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
      -o-transform: rotate(-60deg);
      transform: rotate(-60deg); }
    #trip-diaries-list .diaries #hexagon-in2 {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 250px 290px;
      visibility: visible;
      -webkit-transform: rotate(-60deg);
      -moz-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
      -o-transform: rotate(-60deg);
      transform: rotate(-60deg); }
    #trip-diaries-list .diaries .hexagon2 {
      width: 250px;
      height: 290px; }
    #trip-diaries-list .diaries .img-over-div {
      margin-top: -66.5%; }
  #trip-diaries-list .separator:last-of-type {
    display: none; }

#about {
  padding-top: 3%;
  padding-bottom: 10%;
  width: 80%;
  margin: 0px auto; }
  #about .about-img img {
    width: 100%;
    height: 600px; }
  #about .about-container {
    width: 80%;
    margin: 0px auto;
    border: 1px solid #bdbdbd;
    position: relative;
    margin-top: -15%;
    background: white;
    padding: 5% 2%; }
    #about .about-container .title-container {
      padding-bottom: 5%; }
      #about .about-container .title-container .about-title {
        font-size: 2.4375rem;
        font-style: italic;
        padding-left: 2%;
        padding-right: 2%; }
    #about .about-container .about-sub-img {
      max-width: 386px;
      max-height: 525px; }

#contacts {
  padding-top: 3%;
  padding-bottom: 10%;
  width: 80%;
  margin: 0px auto; }
  #contacts .contacts-img img {
    width: 100%;
    height: 600px; }
  #contacts .contacts-container {
    width: 80%;
    margin: 0px auto;
    border: 1px solid #bdbdbd;
    position: relative;
    margin-top: -15%;
    background: white;
    padding: 5% 2%; }
    #contacts .contacts-container .title-container {
      padding-bottom: 5%; }
      #contacts .contacts-container .title-container .contacts-title {
        font-size: 2.4375rem;
        font-style: italic;
        padding-left: 2%;
        padding-right: 2%; }
    #contacts .contacts-container .contacts-map {
      margin: 0px auto; }
    #contacts .contacts-container .contacts-details {
      padding-top: 5%;
      font-family: "Poppins", sans-serif;
      font-size: 0.875rem; }
      #contacts .contacts-container .contacts-details .detailes {
        padding-right: 1%; }

#add-diary {
  padding-top: 3%;
  padding-bottom: 10%;
  width: 80%;
  margin: 0px auto; }
  #add-diary .add-title {
    font-size: 2.26rem;
    font-style: italic;
    padding-top: 2%;
    padding-bottom: 2%; }
  #add-diary .form-add-diary {
    border-radius: 0; }
  #add-diary .form-add-diary:focus {
    outline: none;
    border: 1px solid #bdbdbd; }
  #add-diary .add-diary-input {
    padding: 0; }
  #add-diary .category {
    padding-top: 5%; }
  #add-diary .asterisk {
    color: #cca335; }
  #add-diary .add-label {
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem; }
  #add-diary .form-add-diary::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #bdbdbd;
    padding-left: 93%; }
  #add-diary .form-add-diary:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #bdbdbd;
    padding-left: 93%; }
  #add-diary .form-add-diary::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #bdbdbd;
    padding-left: 93%; }
  #add-diary .form-add-diary:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #bdbdbd;
    padding-left: 93%; }
  #add-diary select:focus {
    outline: 0; }
  #add-diary #btn-add-diary {
    border-radius: 0;
    background: #cca335;
    text-transform: uppercase;
    color: white;
    font-size: 0.75rem;
    margin-top: 35%;
    width: 130%;
    border: 0; }
  #add-diary button#btn-add-diary.form-add-diary btn:focus {
    outline: 0 !important; }

#sign-in {
  padding-top: 3%;
  padding-bottom: 10%;
  width: 80%;
  margin: 0px auto; }
  #sign-in .sign-in-form {
    width: 70%;
    margin: 0px auto; }
  #sign-in .asterisk {
    color: #cca335; }
  #sign-in .sign-in-label {
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem; }
  #sign-in .form-sign-in::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #bdbdbd;
    padding-left: 93%; }
  #sign-in .form-sign-in:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #bdbdbd;
    padding-left: 93%; }
  #sign-in .form-sign-in::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #bdbdbd;
    padding-left: 93%; }
  #sign-in .form-sign-in:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #bdbdbd;
    padding-left: 93%; }
  #sign-in .form-sign-in {
    border-radius: 0; }
  #sign-in .form-sign-in:focus {
    outline: none;
    border: 1px solid #bdbdbd; }
  #sign-in #btn-login {
    border-radius: 0;
    background: #cca335;
    text-transform: uppercase;
    color: white;
    font-size: 0.75rem;
    border: 0; }

#sign-up {
  padding-top: 3%;
  padding-bottom: 10%;
  width: 80%;
  margin: 0px auto; }
  #sign-up .sign-up-form {
    width: 70%;
    margin: 0px auto; }
  #sign-up .asterisk {
    color: #cca335; }
  #sign-up .sign-up-input {
    padding: 0; }
  #sign-up .sign-up-label {
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem; }
  #sign-up .form-sign-up::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #bdbdbd;
    padding-left: 93%; }
  #sign-up .form-sign-up:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #bdbdbd;
    padding-left: 93%; }
  #sign-up .form-sign-up::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #bdbdbd;
    padding-left: 93%; }
  #sign-up .form-sign-up:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #bdbdbd;
    padding-left: 93%; }
  #sign-up .form-sign-up {
    border-radius: 0; }
  #sign-up .form-sign-up:focus {
    outline: none;
    border: 1px solid #bdbdbd; }
  #sign-up #btn-register {
    border-radius: 0;
    background: #cca335;
    text-transform: uppercase;
    color: white;
    font-size: 0.75rem;
    border: 0; }

#trip-details {
  padding-top: 3%;
  padding-bottom: 10%;
  width: 80%;
  margin: 0px auto; }
  #trip-details .details-icons {
    height: 20px;
    color: #a0a0a0;
    font-size: 0.75rem;
    font-family: "Poppins", sans-serif;
    font-weight: normal; }
    #trip-details .details-icons .icon-spacing-right {
      padding-right: 10px; }
    #trip-details .details-icons .dot {
      color: #cca335;
      padding-right: 10px;
      padding-left: 10px;
      font-size: 0.5rem; }
    #trip-details .details-icons .like:hover,
    #trip-details .details-icons .dislike:hover,
    #trip-details .details-icons .comment:hover,
    #trip-details .details-icons .author:hover {
      color: #cca335; }
  #trip-details .date-container {
    height: 25px;
    font-style: italic;
    margin-bottom: 50px; }
    #trip-details .date-container .line-separator {
      width: 100%; }
    #trip-details .date-container .separator {
      padding: 0;
      width: 100%;
      border-bottom: 1px solid #bdbdbd; }
    #trip-details .date-container .date {
      font-size: 1.875rem; }
    #trip-details .date-container .month {
      font-size: 1.875rem; }
  #trip-details .diary-title {
    margin-bottom: 30px; }
  #trip-details .diary-content {
    text-align: justify;
    margin-bottom: 40px; }
    #trip-details .diary-content p {
      line-height: 1.7rem; }
  #trip-details .diary-img-container {
    margin-bottom: 70px; }
    #trip-details .diary-img-container .diary-img {
      margin-top: 20px; }
    #trip-details .diary-img-container img {
      width: 500px;
      height: 360px; }
  #trip-details .share-buttons .share-button {
    border: 1px solid #bdbdbd;
    width: 40px;
    height: 40px;
    margin-left: 10px; }
    #trip-details .share-buttons .share-button i {
      color: #bdbdbd; }
  #trip-details .share-buttons .share-button:hover {
    border-bottom: 2px solid #cca335; }
  #trip-details .other-diaries-container {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px; }
    #trip-details .other-diaries-container .prev {
      background: url(../../images/prev.png) no-repeat;
      background-size: 100% 100%;
      height: 160px; }
    #trip-details .other-diaries-container .next {
      background: url("../../images/next.png") no-repeat;
      background-size: 100% 100%;
      height: 160px; }
    #trip-details .other-diaries-container img {
      width: 70px;
      height: 70px; }
